:root {
    --text:#1b1b1b;
    --fill:#1b1b1b;
    --bg2:#efefef
    --background:#fff;
    --font:Arial, Helvetica, sans-serif;

  
  }
  
  body {
    background-color: var(--background) !important;
  }
  
  /* general text styling */
  
  div, span, form {
    font-family:var(--font);
    color:var(--text);
    font-size:14px;
    padding-bottom: 2px;
    line-height: 150%;
  }
  
  /* header styling */
  
  h1 {
    width: fit-content;
    font-family: var(--font);
    font-size:16px !important;
    font-weight: bold !important;
    border-bottom: 3px solid;
  }

  /* input styling */

input, textarea, select {
  background-color: var(--background);
  border-style: none;
  border-bottom: var(--text) 1px solid;
}

input, textarea, select {
  background-color: var(--background);
  border-style: none;
}

input[type="number"], .mod {
  border-bottom:1px solid var(--text);
  min-width:3ch;
  max-width: 5ch;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:15px;
  height: 15px;
  border:1px solid var(--text);
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: var(--fill);
}

.tracker {

}