:root {
    --base03:#002b36;
    --base3:#fdf6e3;
  
  }
  
  body {
    background-color: #fdf6e3 !important;
  }
  
  /* general text styling */
  
  div, span, form {
    font-family:Inter,Hack,monospace;
    color:var(--base03);
    font-size:12px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 150%;
  }
  
  /* header styling */
  
  h1 {
    width: fit-content;
    font-family: Inter,Hack,monospace;
    font-size:16px !important;
    font-weight: bold !important;
    border-bottom: 3px solid;
  }

  /* input styling */

input, textarea, select {
  background-color: #fdf6e3;
  border-style: none;
  border-bottom: #002b36 1px solid;
  -moz-appearance: textfield;
}

input, textarea, select {
  background-color: #fdf6e3;
  border-style: none;
}

input[type="number"], .mod {
  -moz-appearance: textfield;
  border-bottom:1px solid #002b36;
  min-width:3ch;
  max-width: 5ch;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:15px;
  height: 15px;
  border:1px solid #002b36;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: #93a1a1;
}