@font-face {
  font-family: plex;
  src: url(/static/styles/plex/IBMPlexMono-Regular.ttf);
}
:root {
  background-color: #fdf6e3;
}

svg .st0 {
  fill: #002b36;
}
svg path {
  stroke: #002b36;
}

a {
  display: unset;
}

div svg, div img {
  max-width: 50px;
  max-height: 50px;
}

body {
  font-family: plex;
  font-size: 12px;
  color: #002b36;
}
body a {
  color: #002b36;
  text-decoration: none;
}
body a:hover {
  color: #eee8d5;
}
body .item label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
body img {
  filter: #002b36;
}
body select {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body textarea {
  width: calc(100% - 15px);
  height: calc(100% - 40px);
}
body textarea:disabled {
  color: #002b36;
  font-family: plex;
  border: none;
}
body input,
body select,
body textarea {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border: 1px solid #93a1a1;
  font-family: plex;
  color: #002b36;
  font-size: 12px;
}
body input[type=number],
body select[type=number],
body textarea[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
body input[type=checkbox], body input[type=radio],
body select[type=checkbox],
body select[type=radio],
body textarea[type=checkbox],
body textarea[type=radio] {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  height: 12px;
  width: 12px;
  vertical-align: text-bottom;
}
body input[type=checkbox]:checked, body input[type=radio]:checked,
body select[type=checkbox]:checked,
body select[type=radio]:checked,
body textarea[type=checkbox]:checked,
body textarea[type=radio]:checked {
  background-color: #002b36;
}

.page {
  max-width: 70%;
  position: relative;
  top: 30;
  margin: auto;
  border: 1px solid #93a1a1;
  box-sizing: border-box;
}
.page > h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: unset;
  margin: unset;
  margin-bottom: 10px;
  border-bottom: 1px solid #93a1a1;
}

.box .bubbles {
  text-align: center;
}
.box .bubbles .bubble {
  display: inline-flex;
  min-width: 25%;
}

.stat {
  padding-bottom: 5px;
}
.stat h2 {
  line-height: unset;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #93a1a1;
}
.stat .ability_score, .stat > input[type=number] {
  position: relative;
  text-align: center;
  min-height: 80px;
}
.stat .ability_score input[type=number], .stat > input[type=number] input[type=number] {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
}
.stat .ability_score label, .stat > input[type=number] label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border: unset;
  border-bottom: 1px solid #93a1a1;
}
.stat .ability_score .toggles, .stat > input[type=number] .toggles {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.stat .ability_score .toggles.expander,
.stat .ability_score .toggles button,
.stat .ability_score .toggles input[type=submit], .stat > input[type=number] .toggles.expander,
.stat > input[type=number] .toggles button,
.stat > input[type=number] .toggles input[type=submit] {
  border: 1px solid #93a1a1;
  background-color: rgba(0, 0, 0, 0);
}
.stat .ability_score .toggles.expander:hover,
.stat .ability_score .toggles button:hover,
.stat .ability_score .toggles input[type=submit]:hover, .stat > input[type=number] .toggles.expander:hover,
.stat > input[type=number] .toggles button:hover,
.stat > input[type=number] .toggles input[type=submit]:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.stat .ability_score .toggles.expander img,
.stat .ability_score .toggles.expander svg,
.stat .ability_score .toggles button img,
.stat .ability_score .toggles button svg,
.stat .ability_score .toggles input[type=submit] img,
.stat .ability_score .toggles input[type=submit] svg, .stat > input[type=number] .toggles.expander img,
.stat > input[type=number] .toggles.expander svg,
.stat > input[type=number] .toggles button img,
.stat > input[type=number] .toggles button svg,
.stat > input[type=number] .toggles input[type=submit] img,
.stat > input[type=number] .toggles input[type=submit] svg {
  height: 11px;
  width: 11px;
}
.stat .ability_score .toggles > *:first-child, .stat > input[type=number] .toggles > *:first-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  border-right: 1px solid #93a1a1;
  width: 50%;
}
.stat .ability_score .toggles > *:last-child, .stat > input[type=number] .toggles > *:last-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  width: 50%;
}

.score,
.bonus {
  text-align: center;
}
.score input,
.bonus input {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
  vertical-align: center;
}
.score label,
.bonus label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;
  margin: 0px auto;
}
.score img,
.bonus img {
  height: 22px;
}

.tag,
.tree {
  border: 1px solid #93a1a1;
  font-size: 11px;
  background-color: rgba(147, 161, 161, 0.2);
  border-radius: 10px;
  padding: 0px 3px;
  margin: 0px 5px 3px 3px;
  vertical-align: middle;
  line-height: 100%;
}

.dc input {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
  vertical-align: center;
}
.dc label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;
  margin: 0px auto;
}

.feature {
  box-sizing: border-box;
  border: 1px solid #93a1a1;
  vertical-align: top;
}
.feature table {
  vertical-align: top;
}
.feature label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.feature input[type=number] {
  border: unset;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  color: #002b36;
  height: 14px;
  max-width: 4ch;
  font-size: 12px;
  border-bottom: 1px solid #93a1a1;
}
.feature .feature-desc {
  height: 100px;
  overflow: auto;
}

.status {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.status > div {
  width: 100%;
}

.toggles button:hover {
  background-color: rgba(147, 161, 161, 0.05) !important;
}

.tabbed {
  margin-bottom: 10px;
  display: block;
}
.tabbed .tab_buttons {
  border: 1px solid #93a1a1;
  font-size: 0px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: none;
  position: absolute;
  right: 0;
  margin-right: 5px;
  transform: translate(0, -100%);
}
.tabbed .tab_buttons.expander,
.tabbed .tab_buttons button,
.tabbed .tab_buttons input[type=submit] {
  border: 1px solid #93a1a1;
  background-color: rgba(0, 0, 0, 0);
}
.tabbed .tab_buttons.expander:hover,
.tabbed .tab_buttons button:hover,
.tabbed .tab_buttons input[type=submit]:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.tabbed .tab_buttons.expander img,
.tabbed .tab_buttons.expander svg,
.tabbed .tab_buttons button img,
.tabbed .tab_buttons button svg,
.tabbed .tab_buttons input[type=submit] img,
.tabbed .tab_buttons input[type=submit] svg {
  height: 11px;
  width: 11px;
}
.tabbed .tab_buttons button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  border: none;
  border-right: 1px solid #93a1a1;
}
.tabbed .tabs {
  border: 1px solid #93a1a1;
  border-right: none;
  padding: 5px;
}

.skill_entry input[type=number] {
  text-align: center;
  border: unset;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  color: #002b36;
  height: 14px;
  max-width: 4ch;
  font-size: 12px;
  border-bottom: 1px solid #93a1a1;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 300px));
  grid-template-rows: repeat(auto-fill, 100px);
}

.add-character {
  display: grid;
  margin: 5px;
  grid-template-columns: 1fr;
  max-width: 100%;
}
.add-character button {
  max-height: 100px;
  border: 1px solid #93a1a1;
  border-radius: 0px;
  background-color: #fdf6e3;
}
.add-character button:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.add-character img {
  max-width: 100%;
  max-height: 100%;
}
.add-character a {
  border: none;
}

.character-thumbnail {
  margin: 5px;
  border: 1px solid #93a1a1;
  display: grid;
  grid-template-columns: 30% 70%;
}
.character-thumbnail > div {
  max-width: 100%;
  border: 1px solid #93a1a1;
}
.character-thumbnail div svg {
  max-width: unset;
  max-height: unset;
  max-width: 100%;
  max-height: 90px;
}
.character-thumbnail .thumb-text {
  display: grid;
  grid-template-columns: 85% 15%;
}
.character-thumbnail .thumb-text > *:first-child {
  border: 1px solid #93a1a1;
  width: 100%;
  max-height: 100% !important;
  overflow: hidden;
}
.character-thumbnail .thumb-text > *:first-child > label, .character-thumbnail .thumb-text > *:first-child .bio label, .character-thumbnail .thumb-text > *:first-child h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.character-thumbnail .thumb-text > *:first-child h3 {
  display: inline;
  line-height: unset;
}
.character-thumbnail .thumb-text > *:first-child h1, .character-thumbnail .thumb-text > *:first-child h2,
.character-thumbnail .thumb-text > *:first-child .set > label,
.character-thumbnail .thumb-text > *:first-child summary {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: unset;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #93a1a1;
}
.character-thumbnail .thumb-text .item {
  margin: 5px;
}
.character-thumbnail .thumb-text .box {
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -moz-min-content;
  max-width: min-content;
  display: list-item;
  list-style: none;
  padding-left: 2px;
  min-width: fit-content;
  padding-bottom: 2px;
  padding-right: 5px;
  max-height: none;
}
.character-thumbnail .thumb-text .box label {
  display: none;
}
.character-thumbnail .thumb-text .box .bubble {
  white-space: nowrap;
  min-height: 25%;
}