@font-face {
  font-family: plex;
  src: url(/static/styles/plex/IBMPlexMono-Regular.ttf);
}
.feature h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-tabs__tab-list, .group-buttons {
  list-style: none;
  display: block;
  padding: unset;
  margin: unset;
}
.react-tabs__tab-list > *, .group-buttons > * {
  border: 1px solid #93a1a1;
  cursor: pointer;
  background-color: rgba(147, 161, 161, 0.2);
  color: #002b36;
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
}
.react-tabs__tab-list > *:hover, .group-buttons > *:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.react-tabs__tab-list > *[aria-selected=true], .group-buttons > *[aria-selected=true] {
  background-color: #fdf6e3;
  border-bottom: 1px solid #fdf6e3;
  z-index: 1;
}

.react-tabs__tab-panel {
  border: 1px solid #93a1a1;
  border-left: none;
}

.group-buttons {
  height: 100%;
  max-height: 100%;
  white-space: nowrap;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.group-buttons > * {
  border: none;
  border-top: 1px solid #93a1a1;
}
.group-buttons > *:first-child {
  border-top: none;
}
.group-buttons > *:last-child {
  border-bottom: 1px solid #93a1a1;
}
.group-buttons > * {
  display: block;
  width: 100%;
  height: 100%;
}
.group-buttons > *[aria-selected=true] {
  background-color: #fdf6e3;
  border-bottom: 1px solid #93a1a1;
  border-left: 1px solid #fdf6e3;
  z-index: 1;
}
.group-buttons > *:first-child {
  border-left: none;
}

.options {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%;
}

.group {
  border-top: none;
  width: 100%;
}

.groups {
  width: 100%;
  border-top: none;
}
.groups h1 {
  border-bottom: none;
}

.groups {
  border-right: 1px solid #93a1a1;
}

.react-tabs__tab-panel {
  max-height: 100vh;
  overflow: scroll;
}

.group {
  overflow: scroll;
}

:root {
  background-color: #fdf6e3;
}

svg .st0 {
  fill: #002b36;
}
svg path {
  stroke: #002b36;
}

a {
  display: unset;
}

div svg, div img {
  max-width: 50px;
  max-height: 50px;
}

body {
  font-family: plex;
  font-size: 12px;
  color: #002b36;
}
body a {
  color: #002b36;
  text-decoration: none;
}
body a:hover {
  color: #eee8d5;
}
body .item label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
body img {
  filter: #002b36;
}
body select {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body textarea {
  width: calc(100% - 15px);
  height: calc(100% - 40px);
}
body textarea:disabled {
  color: #002b36;
  font-family: plex;
  border: none;
}
body input,
body select,
body textarea {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border: 1px solid #93a1a1;
  font-family: plex;
  color: #002b36;
  font-size: 12px;
}
body input[type=number],
body select[type=number],
body textarea[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
body input[type=checkbox], body input[type=radio],
body select[type=checkbox],
body select[type=radio],
body textarea[type=checkbox],
body textarea[type=radio] {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  height: 12px;
  width: 12px;
  vertical-align: text-bottom;
}
body input[type=checkbox]:checked, body input[type=radio]:checked,
body select[type=checkbox]:checked,
body select[type=radio]:checked,
body textarea[type=checkbox]:checked,
body textarea[type=radio]:checked {
  background-color: #002b36;
}

.page {
  max-width: 70%;
  position: relative;
  top: 30;
  margin: auto;
  border: 1px solid #93a1a1;
  box-sizing: border-box;
}
.page > h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: unset;
  margin: unset;
  margin-bottom: 10px;
  border-bottom: 1px solid #93a1a1;
}

.box .bubbles {
  text-align: center;
}
.box .bubbles .bubble {
  display: inline-flex;
  min-width: 25%;
}

.stat {
  padding-bottom: 5px;
}
.stat h2 {
  line-height: unset;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #93a1a1;
}
.stat .ability_score, .stat > input[type=number] {
  position: relative;
  text-align: center;
  min-height: 80px;
}
.stat .ability_score input[type=number], .stat > input[type=number] input[type=number] {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
}
.stat .ability_score label, .stat > input[type=number] label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border: unset;
  border-bottom: 1px solid #93a1a1;
}
.stat .ability_score .toggles, .stat > input[type=number] .toggles {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.stat .ability_score .toggles.expander,
.stat .ability_score .toggles button,
.stat .ability_score .toggles input[type=submit], .stat > input[type=number] .toggles.expander,
.stat > input[type=number] .toggles button,
.stat > input[type=number] .toggles input[type=submit] {
  border: 1px solid #93a1a1;
  background-color: rgba(0, 0, 0, 0);
}
.stat .ability_score .toggles.expander:hover,
.stat .ability_score .toggles button:hover,
.stat .ability_score .toggles input[type=submit]:hover, .stat > input[type=number] .toggles.expander:hover,
.stat > input[type=number] .toggles button:hover,
.stat > input[type=number] .toggles input[type=submit]:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.stat .ability_score .toggles.expander img,
.stat .ability_score .toggles.expander svg,
.stat .ability_score .toggles button img,
.stat .ability_score .toggles button svg,
.stat .ability_score .toggles input[type=submit] img,
.stat .ability_score .toggles input[type=submit] svg, .stat > input[type=number] .toggles.expander img,
.stat > input[type=number] .toggles.expander svg,
.stat > input[type=number] .toggles button img,
.stat > input[type=number] .toggles button svg,
.stat > input[type=number] .toggles input[type=submit] img,
.stat > input[type=number] .toggles input[type=submit] svg {
  height: 11px;
  width: 11px;
}
.stat .ability_score .toggles > *:first-child, .stat > input[type=number] .toggles > *:first-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  border-right: 1px solid #93a1a1;
  width: 50%;
}
.stat .ability_score .toggles > *:last-child, .stat > input[type=number] .toggles > *:last-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  width: 50%;
}

.score,
.bonus {
  text-align: center;
}
.score input,
.bonus input {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
  vertical-align: center;
}
.score label,
.bonus label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;
  margin: 0px auto;
}
.score img,
.bonus img {
  height: 22px;
}

.tag,
.tree {
  border: 1px solid #93a1a1;
  font-size: 11px;
  background-color: rgba(147, 161, 161, 0.2);
  border-radius: 10px;
  padding: 0px 3px;
  margin: 0px 5px 3px 3px;
  vertical-align: middle;
  line-height: 100%;
}

.dc input {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
  vertical-align: center;
}
.dc label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;
  margin: 0px auto;
}

.feature {
  box-sizing: border-box;
  border: 1px solid #93a1a1;
  vertical-align: top;
}
.feature table {
  vertical-align: top;
}
.feature label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.feature input[type=number] {
  border: unset;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  color: #002b36;
  height: 14px;
  max-width: 4ch;
  font-size: 12px;
  border-bottom: 1px solid #93a1a1;
}
.feature .feature-desc {
  height: 100px;
  overflow: auto;
}

.status {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.status > div {
  width: 100%;
}

.toggles button:hover {
  background-color: rgba(147, 161, 161, 0.05) !important;
}

.tabbed {
  margin-bottom: 10px;
  display: block;
}
.tabbed .tab_buttons {
  border: 1px solid #93a1a1;
  font-size: 0px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: none;
  position: absolute;
  right: 0;
  margin-right: 5px;
  transform: translate(0, -100%);
}
.tabbed .tab_buttons.expander,
.tabbed .tab_buttons button,
.tabbed .tab_buttons input[type=submit] {
  border: 1px solid #93a1a1;
  background-color: rgba(0, 0, 0, 0);
}
.tabbed .tab_buttons.expander:hover,
.tabbed .tab_buttons button:hover,
.tabbed .tab_buttons input[type=submit]:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.tabbed .tab_buttons.expander img,
.tabbed .tab_buttons.expander svg,
.tabbed .tab_buttons button img,
.tabbed .tab_buttons button svg,
.tabbed .tab_buttons input[type=submit] img,
.tabbed .tab_buttons input[type=submit] svg {
  height: 11px;
  width: 11px;
}
.tabbed .tab_buttons button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  border: none;
  border-right: 1px solid #93a1a1;
}
.tabbed .tabs {
  border: 1px solid #93a1a1;
  border-right: none;
  padding: 5px;
}

.skill_entry input[type=number] {
  text-align: center;
  border: unset;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  color: #002b36;
  height: 14px;
  max-width: 4ch;
  font-size: 12px;
  border-bottom: 1px solid #93a1a1;
}

.feature {
  border: 1px solid #93a1a1;
  width: 100%;
  max-height: 100% !important;
  margin: 5px;
  width: unset;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.feature > label, .feature .bio label, .feature h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.feature h3 {
  display: inline;
  line-height: unset;
}
.feature h1, .feature h2,
.feature .set > label,
.feature summary {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: unset;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #93a1a1;
}

.bonus,
.dc,
.counter {
  border: 1px solid #93a1a1;
}
.bonus label,
.dc label,
.counter label {
  vertical-align: bottom;
  border-bottom: 1px solid #93a1a1;
  border-top: none;
}

.counter {
  position: relative;
  text-align: center;
  min-height: 80px;
  border: 1px solid #93a1a1;
}
.counter input[type=number] {
  border: unset;
  height: 33px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 10%;
  max-width: 50%;
  min-width: 5ch;
  width: 10%;
}
.counter label {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border: unset;
  border-bottom: 1px solid #93a1a1;
}
.counter .toggles {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.counter .toggles.expander,
.counter .toggles button,
.counter .toggles input[type=submit] {
  border: 1px solid #93a1a1;
  background-color: rgba(0, 0, 0, 0);
}
.counter .toggles.expander:hover,
.counter .toggles button:hover,
.counter .toggles input[type=submit]:hover {
  background-color: rgba(147, 161, 161, 0.05);
}
.counter .toggles.expander img,
.counter .toggles.expander svg,
.counter .toggles button img,
.counter .toggles button svg,
.counter .toggles input[type=submit] img,
.counter .toggles input[type=submit] svg {
  height: 11px;
  width: 11px;
}
.counter .toggles > *:first-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  border-right: 1px solid #93a1a1;
  width: 50%;
}
.counter .toggles > *:last-child {
  border: unset;
  border-top: 1px solid #93a1a1;
  width: 50%;
}
.counter div:first-child {
  font-size: 10px;
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: unset;
  border-bottom: 1px solid #93a1a1;
}

.ruleset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature-name {
  position: relative;
}
.feature-name > div:first-child {
  aspect-ratio: 1/1;
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.feature-name > div:first-child input[type=checkbox] {
  margin: unset;
  padding: unset;
  height: 100%;
  width: 100%;
  border-left: none;
  border-top: none;
}

.feature-data {
  border-right: 1px solid #93a1a1;
}
.feature-data .feature-info {
  display: grid;
  grid-template-columns: 80px 1fr;
  border-bottom: 1px solid #93a1a1;
}
.feature-data .feature-info span {
  display: flex;
  flex-wrap: wrap;
  flex: none;
}
.feature-data .feature-info > span {
  max-height: 3em;
  overflow: scroll;
}
.feature-data .feature-info > span, .feature-data .feature-info > input {
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: scroll;
}
.feature-data .feature-info label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  border-right: 1px solid #93a1a1;
}
.feature-data .feature-info span.tag, .feature-data .feature-info span.skill, .feature-data .feature-info span.tree, .feature-data .feature-info span.path {
  border: 1px solid #93a1a1;
  font-size: 11px;
  background-color: rgba(147, 161, 161, 0.2);
  border-radius: 10px;
  padding: 0px 3px;
  margin: 0px 5px 3px 3px;
  vertical-align: middle;
  line-height: 100%;
}

.stats {
  padding: 5px;
}
.stats > * {
  margin: 5px;
}

.dc {
  margin: 10px 10px 0px 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.stats > * {
  flex: 1 1 auto;
}
.stats > *:not(:nth-child(3), :nth-child(6)) {
  border-right: 1px solid #93a1a1;
}
.stats > *:not(:nth-child(4), :nth-child(5), :nth-child(6)) {
  border-bottom: 1px solid #93a1a1;
}

.counter input[type=number] {
  top: unset;
}

.category {
  border: 1px solid #93a1a1;
  width: 100%;
  max-height: 100% !important;
}
.category > label, .category .bio label, .category h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.category h3 {
  display: inline;
  line-height: unset;
}
.category h1, .category h2,
.category .set > label,
.category summary {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: unset;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #93a1a1;
}

.desc {
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50%;
  overflow: scroll;
}