<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/styles/HUBRIS.css">
    <script src="static/scripts/char_creation.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

</head>
<body>
<div class="container">
<form name="class" method="post" action="class">
    <div class="feature-list">
        {% for class in classes %}
        <div class="opt">
            <input type="radio" name="class" value="{{class.id}}">
            <label for="{{class.name}}"><h3>{{class.icon|safe}} {{class.name}}</h3></label>
            <div class="info">
                <table>
                    <tr>
                        <td>Paths</td>
                        <td>
                            {{class.class_paths|listify}}
                        </td>
                    </tr>
                    <tr>
                        <td>Attribute</td>
                        <td>
                        {{class.attributes.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Skills</td>
                        <td>
                            {{class.skills|listify}}
                    </td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td><span>
                           {{class.tags|listify}}
                        </span></td>
                    </tr>
                    <tr>
                        <td>Hit Die</td>
                        <td>{{class.hit_die}}</td>
                    </tr>
                    <tr>
                        <td>Armor Rating</td>
                        <td>{{class.armor_proficiencies}}</td>
                    </tr>
                    <tr>
                        <td>Weaponry</td>
                        <td>{{class.weapon_proficiencies}}</td>
                    </tr>
                </table>
            </div>
            <div class="explainer sub">
                {% if class.description!=None %}
                {{class.description}}
                {%endif%}
            </div>
        </div>
        {% endfor %}
    </div>
    <input type="submit" value="Next">
</form>
</div>
</body>
</html>