{% import 'libs.html' as libs %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    {{ libs.creation() }}
</head>

<body onload="clear_selections();set_character()">
    <div class="page">
        <h1>Bio</h1>
        <form method="post" action="/fluff">
            <div class="bio">
                <div class="item">
                    <label for="char_name">Name</label>
                    <input type="text" name="char_name" id="char_name">
                </div>
                <div class="item">
                    <label for="char_alignment">Alignment</label>
                    <select class="dropdown" name="char_alignment" id="char_alignment">
                        <option id="lg">Lawful Good</option>
                        <option id="ng">Neutral Good</option>
                        <option id="cg">Chaotic Good</option>
                        <option id="ln">Lawful Neutral</option>
                        <option id="tn">True Neutral</option>
                        <option id="cn">Chaotic Neutral</option>
                        <option id="le">Lawful Evil</option>
                        <option id="ne">Neutral Evil</option>
                        <option id="ce">Chaotic Evil</option>
                    </select>
                </div>
                <div class="item">
                    <label for="char_gender">Gender</label>
                    <input type="text" name='char_gender' id="char_gender">
                </div>
                <div class="item">
                    <label for="char_appearance">Appearance</label>
                    <textarea id="char_appearance" name="char_appearance"></textarea>
                </div>
                <div class='item'>
                    <label for="char_backstory">Backstory</label>
                    <textarea id="char_backstory" name="char_backstory"></textarea>
                </div>
            </div>
            <input type="submit" value="Create character">
        </form>
    </div>

</body>

</html>