<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/styles/char_creation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/scripts/char_creation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body id="{{character.id}}" onload="set_character();load_abilities()">
    {% import 'choices.html' as choices %}
    {{ choices.header(character) }}
    <div>
        <label for="xp_earned">XP Earned </label><input id="xp_earned" type="number" value="6">
        <label for="xp_spent">XP Spent</label><input id="xp_spent" type="number" value="0">
    </div>
    <form method="post" action="/xp" id="xp">
        <div class="tab_buttons" id="tab_buttons">
            <button type="button" id="skills_tab" class="tab" onclick="openTab('skills')">Skills</button>
            <button type="button" id="hit_dice_tab" class="tab" onclick="openTab('hit_dice')">Hit Dice</button>
            <button type="button" id="class_features_tab" class="tab" onclick="openTab('class_features')">Class
                Features</button>
            <button type="button" id="tag_features_tab" class="tab" onclick="openTab('tag_features')">Tag
                Features</button>
            <button type="button" id="effects_tab" class="tab" onclick="openTab('effects')">Effects</button>
            <button type="button" id="ranges_tab" class="tab" style="display:none"
                onclick="openTab('ranges')">Ranges</button>
            <button type="button" id="durations_tab" class="tab" style="display:none"
                onclick="openTab('durations')">Durations</button>
        </div>
        <div class="tabcontent" id="skills">
            <div id="skillList">

            </div>
        </div>
        <div class="tabcontent" id="hit_dice">
            <div class="hd_wrapper">
                <div class="counter" id="hit_die_count">
                    1
                </div>
                <input type="number" id="hd_form" value="1" style="display:none;">
                <div class="toggles">
                    <button type="button" onclick="increment_hd_xp()" class="hd_btn"><img
                            src="https://www.svgrepo.com/show/510136/plus.svg" /></button>
                    <button type="button" onclick="decrement_hd_xp()" class="hd_btn"><img
                            src="https://www.svgrepo.com/show/510074/minus.svg" /></button>
                </div>
            </div>
        </div>
        <div class="tabcontent cards" id="class_features">
        </div>
        <div id="tag_features" class="tabcontent cards">
        </div>
        <div id="effects" class="tabcontent cards">
        </div>
        <div id="metadata">
            <div id="ranges">
            </div>
            <div id="durations">
            </div>
        </div>
        </div>

        </div>
        <button type="submit" onsubmit="send_data()">Submit</button>
    </form>
</body>

</html>