<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/styles/char_creation.css">
    <script src="static/scripts/char_creation.js"></script>

</head>
<body onload="fresh_start('stats');setup('{{boost1}}','{{boost2}}')">
    <h1>Allocate your ability scores</h1>
<div class="status">
    <label for="pts_remaining">Points Remaining:</label>
    <input type="number" class="counter" id="pts_remaining" value="28" min="0" max="28">
</div>
<form name="stats" method="post" action="stats" id="stats">
    <div class="stats">
        <div class='opt'>
            
            <input type="number" id="str" value="-2" onchange="update('str')">
            <label for="str">Strength</label>

        </div>
        <div class='opt'>
            <input type="number" id="dex" value="-2" onchange="update('str')">
            <label for="dex">Dexterity</label>

        </div>
        <div class='opt'>
            <input type="number" id="con" value="-2" onchange="update('str')">
            <label for="con">Constitution</label>

        </div>
        <div class='opt'>
            <input type="number" id="int" value="-2" onchange="update('str')">
            <label for="int">Intelligence</label>

        </div>
        <div class='opt'>
            <input type="number" id="wis" value="-2" onchange="update('str')">
            <label for="wis">Wisdom</label>

        </div>
        <div class='opt'>
            <input type="number" id="cha" value="-2" onchange="update('str')">
            <label for="cha">Charisma</label>

        </div>
    </div>

<input type="submit" value="Submit">
</form>
</body>
</html>