@use 'theme';
html {
    * { 
        font-family:theme.$sans;
        font-size: theme.$size;
        color: theme.$text;
    }
    a {
        color: theme.$text;
        text-decoration: none;

        &:hover {
            color: theme.$light;
        }
    }
}