<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/compiled/home.css">
    <script src="static/scripts/walkthrough.js"></script>
    <script src="static/scripts/char_creation.js"></script>


</head>
<body>

    <form class='dialogue' name="new_user" action="/new_user" method="post">
        <h1>Please enter a new username and password</h1>
        <div>
            <label for="username">Username:</label>
            <input type="text" id='username' name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="inline">
        <input type="submit" value="Create account"></input></div>
    </form>

</body>
</html>