@use 'buttons';
@use 'headers';
@use 'box';

@use '../../configs';

@mixin tabs {
    .react-tabs__tab-list {
        padding:unset;
        margin:unset;
        @include buttons.buttons;
        margin:5px;
        margin-bottom:0px;
        border-bottom: none;
    }
    .react-tabs__tab-panel--selected {
        @include box.box;
        margin-top:0px;
        padding-top:0px;
    }
}

