@use 'buttons';
@use 'headers';

@import '../configs';

@mixin big-mod {
    border: unset;
    height: calc($big + 3px);
    font-size: $big;
    text-align: center;
    position: relative;
    max-width: 50%;
    min-width: 5ch;
    width: 10%;
}

@mixin doublesided {
    display: flex;
    >*{
        width: 50%;
    }
}

@mixin toggles {
    position: absolute;
    bottom:0;
    right:0;
    @include buttons.buttons;
    width: 100%;
}

@mixin counter {
    border:$border;
    position: relative;
    text-align: center;
    align-items: center;
    min-height:calc($big + 50px);
    input[type='number'] {
        @include big-mod;
    }
    label {
        border:unset;
        border-bottom:$border;
        position:relative;
        top:0;
        text-align: center;
        display: block;
        @include headers.label;
    }
    .toggles {
        @include toggles;
        border:unset;
        border-top:$border;
    }
}

@mixin count {
    margin:5px;
    border:$border;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    input {
        @include big-mod;
        vertical-align: center;
    }
    label {
        @include headers.label;
        margin-bottom:0px;
        border-top:$border;
        width: 100%;
    }
}

@mixin field {
    max-width: 128ch;
}