@import "HUBRIS.css";

/* label styling */
.box>div>div>label:not(.buttons>label, .skillList>label), #ability_scores>div>div>label, .box>div>label {
  font-weight: bold;
}

/* input styling */



input[type="text"] {
  border-bottom:1px solid var(--text);
  max-width: 40%;
  min-width: 25%;
  
}

.dropdown {
  border: 1px solid var(--text);
  margin-top:3px;
  margin-bottom: 3px;
}

.notepad {
  min-width:30%;
  outline:1px solid var(--text)
}


/* removing browser defaults for boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* box styling */

.box {
  max-width: 70%;
  margin-left:10px;
  margin-bottom: 15px;
  padding:5px;
  max-height: fit-content;
}

.border {
  border-left: 2px solid var(--background);
  margin-left: -10px;
  padding-left: 10px;
}
.border>div, .border>span {
  margin-top: 5px;
}

.skillList, .weapon {
  margin-left:10px;
  margin-top:5px;
  padding: 2px;
  border-left:1px solid var(--background);
  vertical-align: bottom;
  padding-left:10px;
}