<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/char_creation.css">
    <script src="static/char_creation.js"></script>

</head>
<body>
<div class="status">
    <label for="pts_remaining">Points Remaining:</label>
    <input class="left" type="number" id="remaining">
</div>
<form>
    <table>
        <tr>
            <td><label for="str">Strength</label></td>
            <td><input type="number" id="str"></td>
        </tr>
        <tr>
            <td><label for="dex">Dexterity</label></td>
            <td><input type="number" id="dex"></td>
        </tr>
        <tr>
            <td><label for="con">Constitution</label></td>
            <td><input type="number" id="con"></td>
        </tr>
        <tr>
            <td><label for="int">Intelligence</label></td>
            <td><input type="number" id="int"></td>
        </tr>
        <tr>
            <td><label for="wis">Wisdom</label></td>
            <td><input type="number" id="wis"></td>
        </tr>
        <tr>
            <td><label for="cha">Charisma</label></td>
            <td><input type="number" id="cha"></td>
        </tr>
    </table>
</form>

</body>
</html>