{% macro header(char) %}
<div class="box">
    {% if char.classes|length>0 %}
    <p><b>Class: </b>{{char.classes[0].name}}</p>
    {% endif %}
    {% if char.backgrounds|length>0 %}
    <p><b>Backgrounds: </b>{{char.backgrounds[0].title}} & {{char.backgrounds[1].title}}</p>
    {% endif %}
    {% if char.str!=None %}
    <b>STR:</b><span id="str">{{char.str}}</span>
    <b>DEX:</b><span id="dex">{{char.dex}}</span>
    <b>CON:</b><span id="con">{{char.con}}</span>
    <b>INT:</b><span id="int">{{char.int}}</span>
    <b>WIS:</b><span id="wis">{{char.wis}}</span>
    <b>CHA:</b><span id="cha">{{char.cha}}</span>
    {% endif %}
</div>
{% endmacro %}