<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/char_creation.css">
    <script src="static/char_creation.js"></script>

</head>
<body>
<h1>Choose your class</h1>
<div class="explainer">When creating a HUBRIS character, the first thing you need to decide on is your character's class. There are 8 base classes in HUBRIS, detailed below.</div>
<form method="post" action="class">
    {% for class in classes %}
    <div class="opt">
        <input type="radio" name="class" value="{{class['id']}}">
        <label for="{{class['title']}}">{{class["title"]}}</label>
        <div class="info">
            <table>
                <tr>
                    <td>Paths</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Attribute</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Skills</td>
                    <td>{% for skill in class["skills"] %}
                        {{skill}}
                    {% endfor %} </td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>{% for tag in class["tags"] %}
                        {{tag}}
                    {% endfor %}</td>
                </tr>
                <tr>
                    <td>Hit Die</td>
                    <td>{{class["hit_die"]}}</td>
                </tr>
                <tr>
                    <td>Armor</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="explainer sub">
            {{class["description"]}}
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit Class">
</form>
</body>
</html>