<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/char_creation.css">
    <script src="static/char_creation.js"></script>
</head>

<body onload="reset_selections()">
    {% import 'choices.html' as choices %}
    {{ choices.header(character) }}
    <form method="post" action="xp">
        <div>
            <label for="xp_earned">XP Earned </label><input id="xp_earned" type="number" value="6">
            <label for="xp_spent">XP Spent</label><input id="xp_spent" type="number" value="0">
        </div>
        <div id="metadata">
            <div class="opt">
               
            </div>
        </div>
        <input type="submit" value="Submit choices" onclick="">
    </form>


</body>

</html>