<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/char_creation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/char_creation.js"></script>



</head>

<body onload="loadPrerequisites('{{character.id}}')">
    {% import 'choices.html' as choices %}
    {{ choices.header(character) }}
    <div>
        <label for="xp_earned">XP Earned </label><input id="xp_earned" type="number" value="6">
        <label for="xp_spent">XP Spent</label><input id="xp_spent" type="number" value="0">
    </div>
    <form method="post" action="xp" id="xp">
            <div class="tab_buttons" id="tab_buttons">
                <button type="button" id ="skills_tab" class="tab" onclick="openTab('skills')">Skills</button>
                <button type="button" id="hit_dice_tab" class="tab" onclick="openTab('hit_dice')">Hit Dice</button>
                <button type="button" id="class_features_tab" class="tab" onclick="openTab('class_features')">Class Features</button>
                {% if tag_features|length>0 %}
                <button type="button"id="tag_features_tab" class="tab" onclick="openTab('tag_features')">Tag Features</button>
                {% endif %}
                <button type="button" id="effects_tab" class="tab" onclick="openTab('effects')">Effects</button>
                <button type="button" id="ranges_tab" class="tab" style="display:none" onclick="openTab('ranges')">Ranges</button>
                <button type="button" id="durations_tab" class="tab" style="display:none" onclick="openTab('durations')">Durations</button>
            </div>
            <div class="tabcontent" id="skills">
                <h1>Skills</h1>
                <table>
                    {% for skill in skills %}
                    <tr>
                        <td><input type="checkbox" id="{{skill.id}}" class="skill" onclick="track_skill_xp('{{skill.id}}')"></td>
                        <td>{{skill.name}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tabcontent" id="hit_dice">
                <h1>Hit Dice</h1>
        
        
                      <button type="button" @click="count++">Count</button>
                        {{ count }}
                      <button type="button" @click="count--">Countdown
                      </button>
            </div>
            <div class="tabcontent" id="class_features">
                <h1>Class Features</h1>
                {% for feature in class_features %}
                <div class="opt">
                    <input type="checkbox" id="{{feature.id}}" onclick="track_xp_spent('{{feature.id}}')">
                    <label>{{feature.name}}</label>
                    <div class="info">
                        <table>
                            <tr>
                                <td>
                                    Path
                                </td>
                                <td>
                                    <span>
                                        {{feature.class_paths.icon|safe}} {{feature.class_paths.name}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>XP</td>
                                <td><input type="number" class="cost" id="{{feature.id}}_xp" value="{{feature.xp}}">
                                </td>
                            </tr>
                            {% if feature.required_for and feature.required_for|length>=1%}
                            <tr>
                                <td>Required For</td>
                                <td>
                                    {% for j in range(feature.required_for|length) %}
                                    {{feature.required_for[j].name}}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    <div class="explainer sub">{{feature.description}}</div>
                </div>
                {% endfor %}
            </div>
            {% if tag_features|length>0 %}
            <div id="tag_features" class="tabcontent">
                <h1>Tag Features</h1>
                {% for feature in tag_features %}
                <div class="opt">
                    <input type="checkbox" id="{{feature.id}}" onclick="track_xp_spent('{{feature.id}}')">
                    <label>
                        {{feature.name}}</label>
                    <div class="info">
                        <table>
                            <tr>
                                <td>
                                    Tag
                                </td>
                                <td>
                                    <span>
                                        {{feature.tags.icon|safe}} {{feature.tags.name}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>XP</td>
                                <td><input type="number" class="cost" id="{{feature.id}}_xp" value="{{feature.xp}}">
                                </td>
                            </tr>
                            {% if feature.required_for %}
                            <tr>
                                <td>Required For</td>
                                <td>
                                    {% for j in range(feature.required_for|length) %}
                                    {{feature.required_for[j].name}}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    <div class="explainer sub">{{feature.description}}</div>
                </div>
                {% endfor %}
            </div>
            {%endif%}
            <div id="effects" class="tabcontent">
                <h1>Effects</h1>
                
            </div>
                 <div id="metadata">
                    <div id="ranges">
                        <table>
                            <tr>
                                <td>
                                    <div id="ranges_debuffs" style="display:none" class="tree">
                                    </div>
                                </td>
                                <td>
                                    <div id="ranges_buffs" style="display:none" class="tree">
                                    </div>
                                </td>
                                <td>
                                    <div id="ranges_damage/healing" style="display:none" class="tree">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="durations">
                        <table>
                            <tr>
                                <td>
                                    <div id="durations_debuffs" style="display:none" class="tree">
                                    </div>
                                </td>
                                <td>
                                    <div id="durations_buffs" style="display:none" class="tree">
                                    </div>
                                </td>
                                <td>
                                    <div id="durations_damage/healing" style="display:none" class="tree">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>
   
        </div>
        <button type="submit" form="xp" value="Submit">Submit</button>
    </form>
</body>

</html>