<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/char_creation.css">
    <script src="static/char_creation.js"></script>

</head>

<body>
    {% import 'choices.html' as choices %}
    {{ choices.header(character) }}
    <div id="class_features">
        <h1>Class Features</h1>
        {% for path, features in class_features.items() %}
        <h2>{{path}}</h2>
        {% for feature in features %}
        <div>
            <input type="checkbox" id="{{feature.id}}">
            <label for="{{feature.id}}">{{feature.title}}</label>
            <input type="number" value="{{feature.xp}}"> XP
            <span>
                {% if feature.requires|length>0 %}
                <b>Requires:</b>
                {% for j in range(feature.requires|length) %}
                {{feature.requires[j].title}}
                {% endfor %}
                {% endif %}
                {% if feature.required_for|length>0 %}
                <b>Required for:</b>
                {% for j in range(feature.required_for|length) %}
                {{feature.required_for[j].title}}
                {% endfor %}
                {% endif %}
            </span>
            <div>{{feature.description}}</div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div id="tag_features">
        <h1>Tag Features</h1>
        {% for key, value in tag_features|items() %}
        <div>
            <h2>{{key}}</h2>
            {% for feature in value %}
            <div class="entry">
                <input type="checkbox" id="{{feature.id}}">
                <label for="{{feature.id}}">{{feature.title}}</label>
                <input type="number" value="{{feature.xp}}"> XP
                <span>
                    {% if feature.requires|length>0 %}
                    <b>Requires:</b>
                    {% for k in range(feature.requires|length) %}
                    {{feature.requires[k].title}}
                    {% endfor %}
                    {% endif %}
                    {% if feature.required_for|length>0 %}
                    <b>Required for:</b>
                    {% for k in range(feature.required_for|length) %}
                    {{feature.required_for[k].title}}
                    {% endfor %}
                    {% endif %}
                </span>
                <div>{{feature.description}}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div id="effects">
        <h1>Effects</h1>
        {% for tree,fcts in effects|items() %}
        <div>
        <h2>{{tree}}</h2>
        {% for effect in fcts %}
        <div>
            <input type="checkbox" id="{{effect.id}}">
            <label for="{{effect.id}}">{{effect.title}}</label>
            <input type="number" value="{{effect.xp}}"> XP
            </span><br>
            <span>
                {% if effect.requires|length>0 %}
                <b>Requires:</b>
                {% for j in range(effect.requires|length) %}
                {{effect.requires[j].title}}
                {% endfor %}
                {% endif %}
                {% if effects.required_for|length>0 %}
                <b>Required for:</b>
                {% for j in range(effects.required_for|length) %}
                {{effects.required_for[j].title}}
                {% endfor %}
                {% endif %}
            </span>
            <div>{{effect.description}}</div>
        </div>
        {% endfor %}
        </div>
        {% endfor %}

    </div>

</body>

</html>