<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/walkthrough.css">
    <script src="static/walkthrough.js"></script>
    <script src="static/char_creation.js"></script>


</head>
<body onload="clear_character()">

<div class="dialogue">
    <h1>Welcome to HUBRIS!</h1>
    <p>Would you like to...</p>
    <a href="/class"><button type="button" class="forward" id="make_new">Make a new character</button></a>
    <button class="forward" id="access_existing" onclick="accessDialog()">Access an existing character</button>
    <div id="access">
        
    </div>
</div>

</body>
</html>