@use 'sass:color';
@import 'HUBRIS';

.feature {
    @include section();
    margin: 5px;
    width: unset;
    min-width: fit-content;
}

.bonus,
.dc,
.counter {
    label {
        vertical-align: bottom;
        border-bottom: $border;
        border-top: none;
    }

    border:$border;

}

.counter {
    @include counter();
    border: $border;

    div:first-child {
        @include label();
        border-top: unset;
        border-bottom: $border;
    }
}

.ruleset {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature-name {
    

}


.feature-data {
    border-right: $border;

    .feature-info {
        display: grid;
        grid-template-columns: 80px 1fr;

        span {
            display: flex;
            flex-wrap: wrap;
            flex: none;
        }

        >span {
            max-height: 3em;
            overflow: scroll;
        }

        >span,
        >input {
            margin-top: 3px;
            margin-bottom: 3px;
            overflow: scroll;
        }

        label {
            @include inline-title();
            margin-right: 5px;
            margin-left: 5px;
            border-right: $border;
        }

        span {

            &.tag,
            &.skill,
            &.tree,
            &.path {
                @include tag();
            }
        }

        border-bottom:$border;
    }

}

.stats {
    padding: 5px;

    >* {
        margin: 5px;
    }

}

.dc {
    margin: 10px 10px 0px 10px;
    text-align: center;
}

.stats {
    display: flex;
    flex: 1 1 auto;

    >* {
        flex: 1 1 auto;
    }
    flex-wrap: wrap;

    >*:not(:nth-child(3), :nth-child(6)) {
        border-right: $border;
    }

    >*:not(:nth-child(4), :nth-child(5), :nth-child(6)) {
        border-bottom: $border;
    }
}

.counter input[type='number'] {
    top: unset;
}

.category {
    @include section();
}

.desc {
    height: fit-content;
    max-height: 50%;
    overflow: scroll;
}