@use '../../configs';

@mixin button {
    font-weight: bold;
    white-space: nowrap;
    color:configs.$highlight;
    text-transform: uppercase;
    vertical-align: baseline;
    text-align: center;
    padding:0px 3px;
    margin: 0px 5px;
    border: configs.$border;
    background-color: configs.$transparent;
    &:hover {
        background-color: configs.$hover;
        cursor: pointer;
    }
    &[aria-selected=true] {
        background-color: configs.$selected;
    }
    img,
    svg {
        height: configs.$size-img;
        width: configs.$size-img;
    }
}

@mixin buttons {
    list-style: none;
    display: flex;
    border: configs.$border;
    >*{
        @include button;
        margin:unset;
        width: 100%;
        border-top:none;
        border-bottom:none;
        border-left:none;
        &:last-child {
            border-right:none;
        }
    }
}

@mixin next-page {
    @include button;
    margin:unset;
    padding: unset;
    border-bottom:none;
    border-right:none;
    border-left:none;
    width: 100%;
}