@use '../../configs';

@mixin inline {
    text-transform: uppercase;
    font-weight: bold;
}

@mixin page-header {
    @include box-header;
    font-size: configs.$big;
    font-weight: bold;

}

@mixin label {
    @include inline;
    font-size:configs.$small;
    text-align: center;
    display: block;
}

@mixin item-header {
    @include box-header;
    font-size: calc(configs.$size + 2px);
    font-weight: bold;
}

@mixin box-header {
    width: 100%;
    text-transform: uppercase;
    padding: unset;
    text-align: center;
    margin: unset;
    border-bottom: configs.$border;
}

@mixin input-header {
    position: relative;
    h2 {
        @include item-header;
    }
    >div:first-child {
        aspect-ratio: 1 / 1;
        position: absolute;
        padding: 0px;
        margin: 0px;
        height: 100%;

        input[type='checkbox'] {
            margin: unset;
            padding: unset;
            height: 100%;
            width: 100%;
            border-left: none;
            border-top: none;
        }
    }
}

@mixin floating-header {
    @include box-header;
    width: unset;
    border:configs.$border;
    background-color: configs.$selected;
    margin:5px;
    position:sticky;
}