@use 'buttons';
@use 'headers';

@use '../../configs';

@mixin page() {
    background-color: configs.$background;
    max-width: 70%;
    position: relative;
    top:30;
    margin:auto;
    border: configs.$border;
    box-sizing: border-box;
    >h1 {
        @include headers.page-header;
    }
    button.next {
        @include buttons.next-page;
    }
}