<div class="opt buyable">
    <div class="opt-name">
        <input type="checkbox" id="{{ feature.id }}" value="{{ feature.xp }}">
        <label>{{ feature.name }}</label>
    </div>
    <div class="info">
        <div class='item costs'>
            <span>
                <input disabled type="number" class="cost" value="{{ feature.xp }}">
                <label>XP</label>
            </span>
            {% if has(feature,'power') %}
            <span>
                <input disabled type='number' class='cost' value="{{ feature.power }}">
                <label>Power</label>
            </span>
            {% endif %}
            {% if has(feature,'ticks') %}
            <span>
                <input type='number' class='cost' value="{{ feature.ticks }}">
                <label>Ticks</label>
            </span>
            {% endif %}
        </div>
        <div class='item'>
            {% if has(feature,'tags') %}
            <label>Tags</label>
            {% for tag in feature.tags %}
            <span class='tag'>{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if has(feature,'tree') %}
        <div class="item">
            <label>Tree</label>
            <span class='tree'>{{ feature.tree }}</span>
        </div>
        {% endif %}

    </div>
    <div class='entry'>
        <div class="description">{{ feature.description }}</div>
    </div>
</div>