@use 'theme';
svg {
    .st0 {
        fill: theme.$text;
    }
    path {
    stroke: theme.$text;
    g {
        fill:theme.$text;
    }
}
}

a {
    display: unset;
}

div svg, div img {
    max-width: 50px;
    max-height: 50px;
}