@use 'theme';

input {
    border-bottom:theme.$border;
    &[type='checkbox'] {
        border:theme.$border;
        &:checked {
            background-color: theme.$selected;
        }
        &:hover {
            background-color: theme.$hover;
        }
    }
    &[type='number'] {
        max-width: 3rem;
        width: min-content;
    }
}