@font-face {
    font-family: plex-mono;
    src: url(../configs/fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
    font-family: plex-mono;
    src: url(../configs/fonts/IBMPlexMono-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: plex-mono;
    src: url(../configs/fonts/IBMPlexMono-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family:plex-sans;
    src: url(../configs/fonts/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family:plex-sans;
    src:url(../configs/fonts/IBMPlexSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: plex-sans;
    src:url(../configs/fonts/IBMPlexSans-Italic.ttf);
    font-style: italic;
}