@use '../themes/solarized' as theme;
@import 'fonts';

$hover:transparentize(theme.$muted, $amount:0.95);
$selected:transparentize(theme.$muted, $amount:0.8);
$highlight:transparentize($color: theme.$text, $amount: 0.2);
$text: theme.$text;
$background: theme.$background;
$muted: theme.$muted;
$light: theme.$light;
$size: 12px;
$line: calc(12px*1.2);
$big: 30px;
$small: 10px;
$size-img: calc(14px - 3px);
$big-img: calc(30px - 3px);
$border: 1px solid theme.$muted;
$transparent: rgba(0, 0, 0, 0);
$sans: plex-sans;
$mono: plex-mono;
$icon: theme.$text;