<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/char_creation.css">
    <script src="static/scripts/walkthrough.js"></script>
    <script src="static/scripts/char_creation.js"></script>


</head>
<body>

<div class="dialogue">
    <h1>Welcome to HUBRIS!</h1>
    <h2>Please enter a new username and password.</h2>
    <form name="new_user" action="/new_user" method="post">
        <span>
            <label for="username">Username:</label>
            <input type="text" id='username' name="username">
        </span>
        <span>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </span>
        <button type="submit">Create account</button>
    </form>
</div>

</body>
</html>