{% import 'libs.html' as libs %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" type="sheet" />
    {{ libs.sheet() }}
</head>

<body onload="load_character('{{character.id}}');openTab('effects')">
    <div class="sheet page">
        <div class="section">
            <div class="subsection bio">
                <h1>Bio</h1>
                <div class="item">
                    <label for="character_name">Name</label>
                    <span id="character_name" class="fill">{{ character.name }}</span>
                </div>
                <div class="item">
                    <label for="class_into">Class</label>
                    <span id="class_info" class="fill">{{ character.classes[0].name }}</span>
                </div>
                <div class="item">
                    <label for="background_info">Backgrounds</label>
                    <span id="background_info" class="fill">{{ character.backgrounds[0].name }} &
                        {{character.backgrounds[1].name}}</span>
                </div>
                <div class="item">
                    <label for="alignment">Alignment</label>
                    <select class="dropdown" id="alignment">
                        <option id="lg" {{ 'selected' if character.alignment=='Lawful Good' }}>Lawful Good</option>
                        <option id="ng" {{ 'selected' if character.alignment=='Neutral Good' }}>Neutral Good</option>
                        <option id="cg" {{ 'selected' if character.alignment=='Chaotic Good' }}>Chaotic Good</option>
                        <option id="ln" {{ 'selected' if character.alignment=='Lawful Neutral' }}>Lawful Neutral
                        </option>
                        <option id="tn" {{ 'selected' if character.alignment=='True Neutral' }}>True Neutral</option>
                        <option id="cn" {{ 'selected' if character.alignment=='Chaotic Neutral' }}>Chaotic Neutral
                        </option>
                        <option id="le" {{ 'selected' if character.alignment=='Lawful Evil' }}>Lawful Evil</option>
                        <option id="ne" {{ 'selected' if character.alignment=='Neutral Evil' }}>Neutral Evil</option>
                        <option id="ce" {{ 'selected' if character.alignment=='Chaotic Evil' }}>Chaotic Evil</option>
                    </select>
                </div>
            </div>
            <div class="subsection progression">
                <h1>Progression</h1>
                <div class="item">
                    <label for="tier">Tier</label>
                    <span id="tier" class="buttons">
                        <input disabled type="radio" id="tier_1" name="tier" value="1" />
                        <label for="tier1">1</label>
                        <input disabled type="radio" id="tier_2" name="tier" value="2" />
                        <label for="tier2">2</label>
                        <input disabled type="radio" id="tier_3" name="tier" value="3" />
                        <label for="tier3">3</label>
                        <input disabled type="radio" id="tier_4" name="tier" value="4" />
                        <label for="tier4">4</label>
                    </span>
                </div>
                <div class="item tracker">
                    <div class="current">
                        <input type="number" id="xp_spent" value="{{ character.xp_spent }}" class="counter" />
                        <label for="xp_spent">Spent</label>
                    </div>
                    <div class="remaining">
                        <input type="number" id="xp_earned" value="{{ character.xp_earned }}" class="counter" />
                        <label for="xp_earned">Earned</label>
                    </div>
                </div>
                <div class="item bonus">
                    <div>
                        <img src="https://www.svgrepo.com/show/510136/plus.svg" />
                        <input id="proficiency_bonus">
                    </div>
                    <label for="proficiency_bonus">Proficiency</label>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="subsection hp">
                <h1>Health</h1>
                <div class="item tracker" name="hp">
                    <div class="current">
                        <input type="number" id="hp_left" class="counter" />
                        <label for="hp_left">Current</label>
                    </div>
                    <div class="remaining">
                        <input type="number" id="hp_max" class="counter" />
                        <label for="hp_max">Max</label>
                    </div>
                </div>
                <div class="item injuries">
                    <label for="injuries">Injuries</label>
                    <select name="injuries" id="injuries" class="dropdown">
                        <option value="">Select an injury</option>
                    </select>
                </div>
            </div>
            <div class="subsection hd">
                <h1>Hit Dice</h1>
                <div id="hd_tracking" class="tracker">
                    <div class="current">
                        <input type="number" id="hd_used" class="counter" value="0" />
                        <label for="hd_used">Used</label>
                    </div>
                    <div class="remaining">
                        <input type="number" id="hd_available" class="counter" value="1" />
                        <label for="hp_current">Available</label></span>
                    </div>
                </div>
                <div id="hd_type" class="buttons">
                    <input disabled type="radio" id="d2" name="hit_die" {{ 'checked' if
                        character.classes[0].hit_die=="d2" }} />
                    <label for="d2">d2</label>
                    <input disabled type="radio" id="d3" name="hit_die" {{ 'checked' if
                        character.classes[0].hit_die=="d3" }} />
                    <label for="d3">d3</label>
                    <input disabled type="radio" id="d4" name="hit_die" {{ 'checked' if
                        character.classes[0].hit_die=="d4" }} />
                    <label for="d4">d4</label>
                    <input disabled type="radio" id="d6" name="hit_die" {{ 'checked' if
                        character.classes[0].hit_die=="d6" }} />
                    <label for="d6">d6</label>
                    <input disabled type="radio" id="2d4" name="hit_die" {{ 'checked' if
                        character.classes[0].hit_die=="2d4" }} />
                    <label for="2d4">2d4</label>
                </div>
            </div>
            <div class="subsection conditions">
                <h1>Conditions</h1>
                <div id='entry'><textarea id="conditions" class="notepad"></textarea></div>
            </div>
        </div>
        <div class="section">
            <div class="subsection status">
                <div class="item bonus">
                    <div>
                        <img src="https://www.svgrepo.com/show/510136/plus.svg" />
                        <input id="initiative" value="{{ character.dex }}">
                    </div>
                    <label for="initiative">Initiative</label>
                </div>
                <div class="item dc">
                    <div>
                        <img src="https://www.svgrepo.com/show/510136/plus.svg" />
                        <input id="ac">
                    </div>
                    <label for="ac">AC</label>
                </div>
                <div class="item" id="wielding">
                    <label>Wielding</label>
                    <div><input type="radio" name="wielding" id="simple">
                        <label>Simple</label>
                    </div>
                    <div><input type="radio" name="wielding" id="martial">
                        <label>Martial</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='stats section' id="stats">
        </div>
        <div class="section">
            <div class="subsection backgrounds" id="backgrounds">
                <h1>Background</h1>
                <div class="opt">
                    <label>{{character.backgrounds[0].feature.split(":")[0]}}</label>
                    <div class="entry">{{ character.backgrounds[0].feature.split(":")[1] }}</div>
                </div>
                <div class="opt">
                    <label>{{character.backgrounds[1].feature.split(":")[0]}}</label>
                    <div class="entry">{{ character.backgrounds[1].feature.split(":")[1] }}</div>
                </div>
            </div>
            <div class="subsection" id="class_features">
                <h1>Class</h1>
                <div class="item">
                    <label>Armor</label>
                    <div class="fill">{{character.classes[0].armor_proficiencies}}</div>
                </div>
                <div class="item">
                    <label>Weapons</label>
                    <div class="fill">{{character.classes[0].weapon_proficiencies}}</div>
                </div>
                <div class="item" id="tags">
                    <label>Tags</label>
                </div>
            </div>
        </div>
        <div class="section" id="powers">
            <div class="subsection" id="power-tracking">
                <div class="item bonus">
                    <div>
                        <img src="https://www.svgrepo.com/show/510136/plus.svg" />
                        <input id="power_bonus" value="">
                    </div>
                    <label for="power_bonus">Power Mod</label>
                </div>
                <div class="item dc">
                    <div>
                        <img src="https://www.svgrepo.com/show/510136/plus.svg" />
                        <input id="power_dc" value="10" disabled>
                    </div>
                    <label for="power_dc">Power DC</label>
                </div>
                <div class="item counter">
                    <div>Powers Used</div>
                    <input type="number" id="powers_used" value="0" disabled min="0">
                    <div class="toggles">
                        <button type="button" onclick="character.use_power('+')" class="hd_btn"><img
                                src="https://www.svgrepo.com/show/510136/plus.svg" /></button>
                        <button type="button" onclick="character.use_power('-')" class="hd_btn"><img
                                src="https://www.svgrepo.com/show/510074/minus.svg" /></button>
                    </div>
                </div>
            </div>
            <div class="subsection tabbed">
                <div class="tab_buttons" id="tab_buttons">
                    <button type="button" id="effects_tab" class="tab" onclick="openTab('effects')">Effects</button>
                    <button type="button" id="ranges_tab" class="tab" onclick="openTab('ranges')">Ranges</button>
                    <button type="button" id="durations_tab" class="tab"
                        onclick="openTab('durations')">Durations</button>
                    <button type="button" id="tag_features_tab" class="tab"
                        onclick="openTab('tag_features')">Tag Features</button>
                    <button type="button" id="class_features_tab" class="tab"
                        onclick="openTab('class_features')">Class Features</button>
                </div>
                <div class="tabs">
                    <div class="section abilities tabcontent" id="effects">
                    </div>
                    <div class="section abilities tabcontent" id="ranges">
                    </div>
                    <div class="section abilities tabcontent" id="durations">
                    </div>
                    <div class="section abilities tabcontent" id="tag_features">
                    </div>
                    <div class="section abilities tabcontent" id="class_features">
                    </div>
                </div>
            </div>
        </div>


</body>

</html>