body {
  font-family: var(--font-family);
  font-size: var(--size);
}
body select {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body textarea {
  width: calc(100% - 15px);
  height: calc(100% - 40px);
  margin: 5px;
}
body textarea:disabled {
  color: var(--text);
  font-family: var(--font);
  border: none;
}
body input,
body select,
body textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--transparent);
  border-style: solid;
  border: var(--border);
}
body input[type=number],
body select[type=number],
body textarea[type=number] {
  -moz-appearance: textfield;
}
body input[type=checkbox], body input[type=radio],
body select[type=checkbox],
body select[type=radio],
body textarea[type=checkbox],
body textarea[type=radio] {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  height: var(--size);
  width: var(--size);
  vertical-align: bottom;
}
body input[type=checkbox]:checked, body input[type=radio]:checked,
body select[type=checkbox]:checked,
body select[type=radio]:checked,
body textarea[type=checkbox]:checked,
body textarea[type=radio]:checked {
  background-color: var(--text);
}

.score,
.bonus {
  border: var(--border);
  text-align: center;
  margin: 5px;
  margin-left: 0px;
}
.score input,
.bonus input {
  border: unset;
  height: calc(var(--big) + 3px);
  font-size: var(--big);
  text-align: center;
  max-width: 3ch;
  display: inline-block;
}
.score label,
.bonus label {
  font-size: var(--small);
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: var(--border);
}
.score button,
.score input[type=submit],
.bonus button,
.bonus input[type=submit] {
  border: var(--border);
  background-color: var(--transparent);
}
.score button img,
.score button svg,
.score input[type=submit] img,
.score input[type=submit] svg,
.bonus button img,
.bonus button svg,
.bonus input[type=submit] img,
.bonus input[type=submit] svg {
  height: var(--size-img);
  width: var(--size-img);
}
.score img,
.bonus img {
  height: calc(var(--big-img) - 5px);
  vertical-align: text-bottom;
  margin-right: -3ch;
}

.counter {
  border: var(--border);
  text-align: center;
  margin: 5px;
  margin-left: 0px;
}
.counter input {
  border: unset;
  height: calc(var(--big) + 3px);
  font-size: var(--big);
  text-align: center;
  max-width: 3ch;
  display: inline-block;
}
.counter label {
  font-size: var(--small);
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: var(--border);
}
.counter button,
.counter input[type=submit] {
  border: var(--border);
  background-color: var(--transparent);
}
.counter button img,
.counter button svg,
.counter input[type=submit] img,
.counter input[type=submit] svg {
  height: var(--size-img);
  width: var(--size-img);
}
.counter button,
.counter input[type=submit] {
  border: var(--border);
  background-color: var(--transparent);
}
.counter button img,
.counter button svg,
.counter input[type=submit] img,
.counter input[type=submit] svg {
  height: var(--size-img);
  width: var(--size-img);
}
.counter .count {
  display: inline;
}
.counter .toggles {
  display: none !important;
  float: right;
  display: inline;
  width: 50%;
}
.counter .toggles > * {
  display: block;
}

.tracker {
  border: var(--border);
  display: inline-flex;
  width: 100%;
  border: var(--border);
  text-align: center;
  margin: 5px;
  margin-left: 0px;
}
.tracker .before,
.tracker .after {
  width: 50%;
}
.tracker .before label,
.tracker .after label {
  font-size: var(--small);
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: var(--border);
}
.tracker .before {
  border-right: var(--border);
}
.tracker input {
  border: unset;
  height: calc(var(--big) + 3px);
  font-size: var(--big);
  text-align: center;
  max-width: 3ch;
  display: inline-block;
}
.tracker label {
  font-size: var(--small);
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: var(--border);
}
.tracker button,
.tracker input[type=submit] {
  border: var(--border);
  background-color: var(--transparent);
}
.tracker button img,
.tracker button svg,
.tracker input[type=submit] img,
.tracker input[type=submit] svg {
  height: var(--size-img);
  width: var(--size-img);
}

.tag,
.tree {
  border: var(--border);
  font-size: calc(var(--size) - 1px);
  border-radius: 10px;
  padding: 3px;
}

.dc {
  border: var(--border);
  text-align: center;
  margin: 5px;
  margin-left: 0px;
}
.dc input {
  border: unset;
  height: calc(var(--big) + 3px);
  font-size: var(--big);
  text-align: center;
  max-width: 3ch;
  display: inline-block;
}
.dc label {
  font-size: var(--small);
  text-transform: uppercase;
  display: block !important;
  padding: 3px;
  text-align: center;
  border-top: var(--border);
}
.dc button,
.dc input[type=submit] {
  border: var(--border);
  background-color: var(--transparent);
}
.dc button img,
.dc button svg,
.dc input[type=submit] img,
.dc input[type=submit] svg {
  height: var(--size-img);
  width: var(--size-img);
}
.dc img {
  display: none;
}

.opt {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  line-height: 160%;
  border: var(--border);
}
.opt > label {
  text-transform: uppercase;
  font-size: var(--size);
  font-weight: bold;
}
.opt input[type=number] {
  border: unset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--text);
  height: calc(var(--size) + 2px);
  max-width: 1.9em;
  min-width: 1.9em;
  font-size: var(--size);
  text-align: left;
  border-bottom: var(--border);
}
.opt input[type=checkbox] {
  display: none;
}