@import "HUBRIS.css";

a {
    color:var(--text);
    text-decoration: none;
}
form {
    display:flex;
    flex-direction: column;
    margin-top:15px;
}

label {
    font-weight:bold;
    font-size:14px;
}

#skillList label {
    font-weight: normal;
}

.skill_entry {
    display: list-item;
    list-style-type: none;
}




/* Chrome, Safari, Edge, Opera */
.cost::-webkit-outer-spin-button,
.cost::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cost {
  -moz-appearance: textfield;
}




.bio {
    display:inline;
    line-height:30px;
    position: relative;
    border:1px solid var(--text);
    margin:5px;
    padding:10px;
}

.bio {
    th {
    text-align: left;
    vertical-align: top;
    width: 50%;
    }
    table {
        width:100%;
    }
    textarea {
        height:50%;
        width:95%;
        border:1px solid var(--text)
    }
    #char_backstory {
        height: 120px !important;
    }
    .bio item {
        width:95%;
        height:max-content;
    }
    .bio input {
        width:fit-content;
    }
}





button img {
    width: 20px;
    height: 20px !important;
    position: relative;
    align-items: center;
}


label>svg {
    height:17px;
    width: 17px;
}

  

  
  .tabcontent {
    display: none;
    border:1px solid var(--text);
    padding-left:10px;
    padding-right: 10px;
  } 

  .tabset {
    border:none;

  }
