@mixin section {
    border: var(--border);
    box-sizing: border-box;
    width: 100%;
    max-height: 100% !important;

    >label,
    >div>label,
    .item>label:not(.counter>label):not(.bonus>label):not(.dc>label) {
        @include inline-title();
    }

    h1, h2,
    .set>label,
    summary {
        margin-top: 0px;
        margin-bottom:0px;
        @include section-title();
    }
}

@mixin section-title {
    line-height: unset;
    display: block;
    font-size: calc(var(--size) + 5px);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-bottom: var(--border);

}

@mixin tracking-counter {

}

@mixin option-grid {
    display: grid;
    grid-gap: 10px;
}

@mixin sans-plus {
    img {
        display: none;
    }
}

@mixin big-mod {
    border: unset;
    height: calc(var(--big) + 3px);
    font-size: var(--big);
    text-align: center;
    min-width: 3ch;
    max-width: 50%;
}

@mixin small-mod {
    border: unset;
    appearance: none;
    color: var(--text);
    height: calc(var(--size) + 2px);
    max-width: 4ch;
    font-size: var(--size);
    border-bottom: var(--border);
}

@mixin label {
    font-size: var(--small);
    text-transform: uppercase;
    display: block !important;
    padding: 3px;
    text-align: center;
    border-top: var(--border);
}

@mixin inline-title {
    text-transform: uppercase;
    font-size: var(--size);
    font-weight: bold;
}

@mixin list {
    display: list-item !important;
    list-style: none;
}

@mixin feature {
    box-sizing: border-box;
    line-height: 160%;
    border: var(--border);
    vertical-align: top;

    table {
        vertical-align: top;
    }

    >label,
    tr>:first-child,
    .info label {
        @include inline-title();
    }

    input[type='number'] {
        @include small-mod();
    }

    .description {
        height: 100px;
        overflow: auto;
    }

    .entry,
    .info {
        margin-left: 5px;

    }
}

@mixin button {

    button,
    input[type='submit'] {
        border: var(--border);
        background-color: var(--transparent);

        img,
        svg {
            height: var(--size-img);
            width: var(--size-img);
        }
    }

}

@mixin link {
    border: var(--border);
    color: var(--text);
    padding: 2px;
    text-align: center;
    text-decoration: none;
}

@mixin counter {
    text-align: center;
    input[type='number'] {
        @include big-mod();
    }
    label {
        @include label();
        border:unset;
        border-bottom:var(--border);
    }
    .toggles {
        @include button();
        width: 100%;
        display: flex;

        >*:first-child {
            border: unset;
            border-top: var(--border);
            border-right: var(--border);
            width: 50%;
        }

        >*:last-child {
            border: unset;
            border-top: var(--border);
            width: 50%;

        }
    }
}

@mixin count {
    input {
        @include big-mod();
    }

    border:var(--border);

    label {
        @include label();
        vertical-align: bottom;
    }
}

@mixin remaining {
    display: inline-flex;
    text-align: center;

    .current,
    .remaining {
        width: 50%;

        label {
            @include label();
        }

        input {
            @include big-mod();
        }
    }

    .remaining {
        border-left: var(--border);
    }

    border:var(--border);
}


@mixin tag {
    border: var(--border);
    font-size: calc(var(--size) - 1px);
    border-radius: 10px;
    padding: 3px;
}

@mixin tabs {
    border: var(--border);
    @include button();

    button {
        @include inline-title();
        padding: 3px;
        border: none;

        border-right: var(--border)
    }

    font-size: 0px;
    max-width: fit-content;
    border-bottom:none;
}

@mixin topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    >div {
        width: 100%;
    }
}