@import 'HUBRIS';

.feature-list {
    @include option-grid();
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    &#feature-group {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.status {
    @include remaining();
    width: 20%;
}

#xp .status {
    border-bottom: none;
}

.page {
    input[type='submit'] {
        text-align: center;
        @include section-title();
        border: unset;
        margin: unset !important;
        width: 100%;
        border-top: var(--border);
    }

    >* {
        margin: 5px;
    }
}

.opt {
    @include feature();

    .explainer>label {
        @include inline-title();
    }

    .opt-name {
        >label {
            @include section-title();
        }

        >input {
            position: relative;
            float: left;
            margin: unset;
            border: unset;
            border-right: var(--border);
            height: calc(var(--size) + 9px);
            width: calc(var(--size) + 9px);
        }
    }

}

.set {
    box-sizing: border-box;
    @include section();
    border: none;
    border-bottom: var(--border);

    &:not([open]) {
        border: none;
    }

    >label {
        margin: 0px !important;
        @include section-title();
        border: none !important;
    }

    &:active {
        >label {
            border: unset;
        }
    }

    &:last-child>label {
        border-bottom: none !important;
    }

    margin:0px !important;
    width: auto;
    vertical-align: top;
}

.tabcontent {
    border-right: var(--border);
    padding: 10px;

    &:has(.set) {
        margin: 0px !important;
        padding: 0px !important;
        max-width: 100%;
    }
}

.tabs {
    &:has(.set) {
        padding: 0px !important;
    }
}

.buyable {
    .opt-name label {
        @include inline-title();
    }

    min-width: 200px;
}

.bio {
    .item {
        margin:5px;
        &>label {
            @include inline-title();
        }
    }
}