:root {
    --text:#1b1b1b;
    --fill:#1b1b1b;
    --bg2:#efefef
    --background:#fff;
    --font:Arial, Helvetica, sans-serif;
  }
  
  body, button {
    background-color: var(--background) !important;
    font-family: var(--font);
  }
  
  /* general text styling */
  
  div, span, form {
    font-family:var(--font);
    color:var(--text);
    font-size:14px;
    padding-bottom: 2px;
    line-height: 120%;
  }
  
  /* header styling */
  
  h1 {
    width: fit-content;
    font-family: var(--font);
    font-size:16px !important;
    font-weight: bold !important;
  }

  h3 {
    display: inline;
  }

  /* input styling */

input, textarea, select {
  font-family: var(--font);
  background-color: var(--background);
  border-style: none;
  border-bottom: var(--text) 1px solid;
}

input, textarea, select {
  font-family: var(--font);
  background-color: var(--background);
  border-style: none;
}

input[type="number"], .mod {
  font-family: var(--font);
  border-bottom:1px solid var(--text);
  min-width:3ch;
  max-width: 5ch;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: baseline;
  margin-bottom: -1px;
  width:14px;
  height: 14px;
  border:1px solid var(--text);
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: var(--fill);
}

/* misc */

button, input[type='submit'] {
  font-family: var(--font);
  background-color:var(--background);
  border: 1px solid var(--text);

}

button:not(.title-link,.hd_btn), button[type='submit']:not(.title-link), input[type='submit'] {
    float: right;
    max-width: fit-content;
    border-radius: 0%;
    padding:5px;
    font-style: italic;
}

.error {
  background-color: rgba(189, 7, 7, 0.418);
  border:1px solid var(--text);
  padding: 1px;
}

/* show or hide icons */ 

svg {
  display:none;
}

svg,img {
  width:13px;
  height:13px;
  vertical-align: baseline;
}

/* option styling */

.stat {
  display:flex;
  padding:5px;
  margin:5px;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--text);
  :not(input[type='submit']){
    align-items: center;
  }
}

.opt {
  padding:3px;
  margin:10px;
  z-index: -1;
  border:1px solid var(--text)
}

.opt td {
  vertical-align: top;
}
.opt tr td:first-child {
  font-weight: bold;
}
.character_thumbnail {
  border:1px solid var(--text);
  padding:10px;
  margin:5px;
}

button.title-link {
  padding:0px;
  border:none;
  font-size:18px;
  font-weight:bold;
  
}

.char_list, .feature-list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.stats, .feature-list, .char_list {
  width:100%;
  display:grid;
}

.stats {
  grid-template-columns: repeat(3, 1fr);

}


.hd_btn {
  position:relative;
  margin-top:4px;
  max-width: 100%;
  margin-left:0px !important;
}

.toggles *{
  display: inline-flex;
  max-width: 100%;
  justify-items: end;
}
.ability_score {
  max-width: max-content;
}
.counter {
  font-size: 30px;
  text-align: center;
  width:100%;
  -moz-appearance: textfield;
}

.dialogue {
  position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
      
  }

.status *{
  display:block;
  margin: auto;
  text-align: center;
}



textarea.scrolling-explainer {
  width: 100%;
  border-bottom: none !important;
  font-size: 13px;
  color: var(--text);
}

.container {
  width:80%;
  padding-bottom:30px;
  position: relative;
  top:0%;
  left:50%;
  transform: translate(-50%, -0%);
}

input[type='submit'] {
  margin-right:10px;
}

.explainer {
  margin-left:3px;
  margin-right:3px;
}