@import "colors.css";

a {
  color:var(--text);
  text-decoration: none;
}
form {
  display:flex;
  flex-direction: column;
  margin-top:15px;
}

label {
  font-weight:bold;
  font-size:14px;
}

#skillList label {
  font-weight: normal;
}

.skill_entry {
  display: list-item;
  list-style-type: none;
}


.cost::-webkit-outer-spin-button,
.cost::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.cost {
-moz-appearance: textfield;
}

.bio {
  display:inline;
  line-height:30px;
  position: relative;
  border:1px solid var(--text);
  margin:5px;
  padding:10px;
  th {
    text-align: left;
    vertical-align: top;
    width: 50%;
    }
    table {
        width:100%;
    }
    textarea {
        height:50%;
        width:95%;
        border:1px solid var(--text)
    }
    #char_backstory {
        height: 120px !important;
    }
    .bio item {
        width:95%;
        height:max-content;
    }
    .bio input {
        width:fit-content;
    }
}

.tabcontent {
  display: none;
  border:1px solid var(--text);
  padding-left:10px;
  padding-right: 10px;
} 

.tabset {
  border:none;

}
  
  body, button {
    background-color: var(--background) !important;
    font-family: var(--font);
    color:var(--text)
  }
  
  /* general text styling */
  
  div, span, form {
    font-family:var(--font);
    color:var(--text);
    font-size:14px;
    padding-bottom: 2px;
    line-height: 120%;
  }
  
  /* header styling */
  
  h1 {
    width: fit-content;
    font-family: var(--font);
    font-size:16px !important;
    font-weight: bold !important;
  }

  h3 {
    display: inline;
  }

  /* input styling */

img {
  filter: invert(91%) sepia(9%) saturate(555%) hue-rotate(97deg) brightness(93%) contrast(83%);
}

input, textarea, select {
  color:var(--text);
  font-family: var(--font);
  background-color: var(--background);
  border-style: none;
  border-bottom: var(--text) 1px solid;
}

input[type="number"], .mod {
  font-family: var(--font);
  border-bottom:1px solid var(--text);
  min-width:3ch;
  max-width: 5ch;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: baseline;
  margin-bottom: -1px;
  width:14px;
  height: 14px;
  border:1px solid var(--text);
}

input:checked {
    background-color: var(--fill)
}

/* misc */

button, input[type='submit'], .xp_counter {
  font-family: var(--font);
  background-color:var(--background);
  border: 1px solid var(--text);
  color: var(--text);
  img, svg {
    width: 20px;
    height: 20px !important;
    position: relative;
    align-items: center;
  }
}

button:not(.title-link,.hd_btn), button[type='submit']:not(.title-link), input[type='submit'] {
    float: right;
    max-width: fit-content;
    border-radius: 0%;
    padding:5px;
    font-style: italic;
}

.error {
  background-color: rgba(189, 7, 7, 0.418);
  border:1px solid var(--text);
  padding: 1px;
}

/* show or hide icons */ 

svg {
  display:none;
}

svg,img {
  width:13px;
  height:13px;
  vertical-align: baseline;
}

/* option styling */

.stat, .hd_wrapper {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hd_wrapper {
  position:relative;
  margin:0 auto;
}

.opt, .stat {
  font-size:12px;
  padding:3px;
  margin:10px;
  border:1px solid var(--text)
}

.container_topbar {
  display:span;
}

.container_topbar * {
  height:100%;
  margin-bottom: -3px !important;
}

.feature_group {
  display:grid;
}

h3 {
  text-align: center;
}

.xp_counter input {
  -moz-appearance: textfield;
  font-size:18px;
  color:var(--text);
  text-align: center;
  max-width: 2ch;
  padding-bottom:-3px !important;
}

.xp_counter {
  border:none;
  text-align: center;
}

.opt td {
  vertical-align: top;
}
.opt tr td:first-child {
  font-weight: bold;
}
.character_thumbnail {
  border:1px solid var(--text);
  padding:10px;
  margin:5px;
}

button.title-link {
  padding:0px;
  border:none;
  font-size:18px;
  font-weight:bold;
  
}

.char_list, .feature-list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature_group {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.info {
  margin-left: 25px;
}

.stats, .feature-list, .char_list, .feature_group {
  width:100%;
  display:grid;
}

.stats {
  grid-template-columns: repeat(3, 1fr);

}

.feature_group .opt {
  max-width: 500px;
}

.hd_btn {
  position:relative;
  margin-top:4px;
  max-width: 100%;
  margin-left:0px !important;
}

.toggles *{
  display: inline-flex;
  max-width: 100%;
  justify-items: end;
}
.ability_score, .hd_wrapper {
  max-width: max-content;
}
.counter {
  font-size: 30px;
  text-align: center;
  width:100%;
  -moz-appearance: textfield;
}

.dialogue {
  position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
      
  }

.status *{
  display:block;
  margin: auto;
  text-align: center;
}



textarea.scrolling-explainer {
  width: 98%;
  margin-right:2px;
  border-bottom: none !important;
  font-size: 13px;
  color: var(--text);
}

.container {
  width:80%;
  position: relative;
  top:0%;
  left:50%;
  transform: translate(-50%, -0%);
}

input[type='submit'] {
  position: absolute;
  top:100%;
  right: 0;
  margin-right:10px;
}

.explainer {
  margin-left:3px;
  margin-right:3px;
}

.tabcontent {
  display: none;
  border:1px solid var(--text);
  padding-left:10px;
  padding-right: 10px;
} 

.tabset {
  border:none;

}