:root {
    --text:#1b1b1b;
    --fill:#1b1b1b;
    --bg2:#efefef
    --background:#fff;
    --font:Arial, Helvetica, sans-serif;
  }
  
  body, button {
    background-color: var(--background) !important;
    font-family: var(--font);
    line-height: 50%;
  }
  
  /* general text styling */
  
  div, span, form {
    font-family:var(--font);
    color:var(--text);
    font-size:14px;
    padding-bottom: 2px;
    line-height: 150%;
  }
  
  /* header styling */
  
  h1 {
    width: fit-content;
    font-family: var(--font);
    font-size:16px !important;
    font-weight: bold !important;
  }

  /* input styling */

input, textarea, select {
  background-color: var(--background);
  border-style: none;
  border-bottom: var(--text) 1px solid !important;
}

input, textarea, select {
  background-color: var(--background);
  border-style: none;
}

input[type="number"], .mod {
  border-bottom:1px solid var(--text);
  min-width:3ch;
  max-width: 5ch;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:15px;
  height: 15px;
  border:1px solid var(--text);
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: var(--fill);
}

/* misc */

button:not(.title-link), button[type='submit']:not(.title-link) {
    background-color:var(--background);
    float: right;
    border: 1px solid var(--text);
    max-width: fit-content;
    border-radius: 0%;
    padding:5px;
    font-style: italic;
}




.error {
  background-color: rgba(189, 7, 7, 0.418);
  border:1px solid var(--text);
  padding: 1px;
}

/* show or hide icons */ 

svg {
  display:none;
}

svg,img {
  width:13px;
  height:13px;
  vertical-align: baseline;
}


.character_thumbnail {
  border:1px solid var(--text);
  padding:10px;
  margin:5px;
}

button.title-link {
  padding:0px;
  border:none;
  font-size:18px;
  font-weight:bold;
  
}

.feature-list, .char_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.stats {
  display:inline-flex;
}

.stats .opt {
  max-width:33%;
  padding:5px;
  margin:5px;
}

.stats input[type='number'] {
  font-size: 20px;
  width:100%;
  justify-self: center;
}