:root {
    --size: 14px;
    --big: 30px;
    --small: 10px;
    --size-img: calc(14px - 3px);
    --big-img: calc(30px - 3px);
    --border: 1px solid var(--muted);
    --background: #fff;
    --muted: #6a6a6a;
    --transparent: rgba(0, 0, 0, 0);
    --text: #000;
    --font-family: sans-serif;
}     
