@import "HUBRIS.css";

.dialogue {
    position:fixed;
    top: 30%;
    left: 50%;
    text-align: left;
    align-items: left;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.forward {
    background-color: var(--base3);
    border:1px solid var(--base03);
}

