@use '../../styles/hubris.scss';

:root {
    background-color: hubris.$behind;
}

.page {
    @include hubris.page;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 400px;
}

.dialog {  
    .error {
        @include hubris.error;
    }
    h1 {
        @include hubris.page-header;
    }
    .item {
        @include hubris.inline-item;
    }
    .buttons {
        @include hubris.buttons;
        border:unset;
        border-top: hubris.$border;
    }
}