{% macro render_duration(index,duration) %}
    <span id="duration_{{index}}_data">
        <input type="text" id="duration_{{index}}_name" value="{{duration.title}}">
        <label for="duration_cost">Cost</label>
        <input type="number" id="effect_{{index}}_pwr" class="mod" value="{{duration.power}}">
        <label>Tree</label>
        <select class="fill dropdown">
            <option id="duration_{{index}}_buff" {{'selected' if duration.tree=="Buffs"}} value="Buff">Buff</option>
            <option id="duration_{{index}}_debuff" {{'selected' if duration.tree=="Debuffs"}} value="Debuff">Debuff</option>
            <option id="duration_{{index}}_damage_healing" {{'selected' if duration.tree=="Damage/Healing"}} value="Damage/Healing">Damage</option>
        </select>
        </span>
    <p id="duration_{{index}}_description">{{duration.description}}</p>
{% endmacro %}