@use '../../styles/hubris';

html {
    background-color: hubris.$background;
}

.page {
    @include hubris.page;
}

.loading {
    background-color: hubris.$background;
    z-index: 1;
    @include hubris.loading-bar;
    position: fixed;
    top:50%;
    left:50%;
    height: 100%;
    width: 100%;
}

.characters {
    display:flex;
    >div {
        flex:1 1 auto;
    }
}

.thumbnail {
    margin:5px;
    border:hubris.$border;
    display: block;
    position: relative;
    .thumb-content {
        position: relative;
        border-right: hubris.$border;
    }
    .thumb-title {
        @include hubris.item-header;
    }
    .item {
        @include hubris.item;
    }
    .icon {
        text-align: center;
        border-bottom:hubris.$border;
    }
    .radio {
        @include hubris.radio($vertical:true);
        background-color: hubris.$background;
        position: absolute;
        right:0;
        top:0;
        border:none;
        border-left:hubris.$border;
        box-sizing: border-box;
        height:100%;
        display: inline;
        vertical-align: middle;
        label {
            display: none;
        }
    }
}

.add-character {
    button {
        @include hubris.button;
        position: absolute;
        top: auto;
        margin: auto;
        width: 100%;
        height: 100%;
        border: unset;
    }
    svg {
        width: unset !important;
        height: unset !important;
    }
    .icon {
        margin:auto;
        border-bottom:none;
    }
}